.preloder {
   position: fixed;
   display: flex;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #7209b7;
   z-index: 2;
   overflow: hidden;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   opacity: 1;
   visibility: visible;
   transition: 2s all ease-out 0.5s;

   & .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s all ease-out;
      height: 80%;

      width: 30%;
      min-width: 30%;
      border-radius: 5%;
      background-color: $color1;
      animation: myPage 2s ease;

      & #prosentage {
         color: $fontC;
         width: 30%;
         font-size: 50px;
         text-align: center;
         line-height: 75px;
         font-family: "Rounded Mplus 1c";
         font-weight: 900;
      }
   }
   @keyframes myPage {
      0% {
         box-shadow: 0px 0px 0px 0px #55078a;
      }
      20% {
         box-shadow: 40px 40px 0px 20px #55078a;
      }
      40% {
         box-shadow: 0px 0px 0px 0px #55078a;
      }
      60% {
         box-shadow: 0px 0px 0px 0px #55078a;
      }
      80% {
         box-shadow: -20px -20px 0px 10px #55078a;
      }
      100% {
         box-shadow: 0px 0px 0px 0px #55078a;
      }
   }
}
.done {
   & .loader {
      height: 100%;
      width: 70%;
   }
   opacity: 0;
   visibility: hidden;
}
@media (max-width: 600px) {
   .preloder .loader {
      border-radius: 50%;
      height: 50%;
      width: 50%;
   }

   .preloder .loader #prosentage {
      font-size: 25px;
      text-align: left;
   }
}
.done {
   & .loader {
      height: 100%;
      width: 100%;
      border-radius: 0%;
   }
}
